<%- include('common/header'); %>

  <div class="form-content">
    <h2>ユーザー登録画面</h2>
    <% if (typeof errors !== 'undefined') { %>
      <div>
          <ul>
              <% for (const error of errors) { %>
              <li><%= error.param %>:<%= error.msg %></li>
              <% } %>
          </ul>
      </div>
    <% } %>

    <form action="/signup" method="post">
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
      </div>
      <div>
        <label for="email">E-mail Address</label>
        <input type="text" name="email" id="email">
      </div>
      <div>
        <label for="pass">Password</label>
        <input type="text" name="pass" id="pass">
      </div>
      <div>
        <label for="pass_confirm">Confirm Password</label>
        <input type="text" name="pass_confirm" id="pass_confirm">
      </div>
      <input type="submit" value="Register">
    </form>
  </div>

<%- include('common/footer'); %>